version: '3.1'
services:
  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - '8077:80'
    environment:
        - PMA_HOST=db
        - UPLOAD_LIMIT=300M
    depends_on:
      - db
    networks:
      - wpsite

  db:
    image: mysql:latest
    ports:
      - '5506:3306'
    restart: always
    environment:
      MYSQL_USER: ukinglesonline2
      MYSQL_DATABASE: ukinglesonline2
      MYSQL_PASSWORD: "teste123"
      MYSQL_ROOT_PASSWORD: 123456
    networks:
      - wpsite

  wordpress:
    image: wordpress
    restart: always
    ports:
      - 8080:80
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: ukinglesonline2
      WORDPRESS_DB_PASSWORD: "teste123"
      WORDPRESS_DB_NAME: ukinglesonline2
      WORDPRESS_TABLE_PREFIX: ufzwq_
    volumes:
      - /www:/var/www/html
    depends_on:
      - db
    networks:
      - wpsite
      
networks:
  wpsite:
volumes:
  db_data:  